{% extends 'layouts/base.html' %}
{% load static %}
{% static "img" as img %}
{% block contents %}

        <section data-settings="particles-1" class="main-section crumina-flying-balls particles-js bg-1">
            <div class="container">
                <div class="row medium-padding120 align-center">
                    <div class="col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
                        <header class="crumina-module crumina-heading heading--h2 heading--with-decoration">
                            <div class="heading-sup-title">CNX Trade Investment</div>
                            <h2 class="heading-title heading--half-colored">Comprehensive Cryptocurrency Investment
                                Plans</h2>
                            <div class="heading-text">Our meticulously curated cryptocurrency investment plans are
                                designed to optimize your returns. Backed by thorough research and market analysis, our
                                strategies ensure balanced risk and high potential for growth. Join us to navigate the
                                exciting world of cryptocurrency investments with confidence and expertise.</div>
                        </header>
                    </div>
                </div>
            </div>
        </section>


        <section class="medium-padding100">
            <div class="container">
                <div id="bitcoin" class="row align-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-module-slider pagination-bottom-center">
                            <div class="swiper-container" data-show-items="3" data-prev-next="1">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="crumina-module crumina-pricing-table pricing-table--small">
                                            <div class="pricing-thumb">
                                                <img src="{% static 'img/if_Bitcoin_2745023.png' %}" class="woox-icon" alt="bitcoin">
                                                <h5 class="pricing-title">Bitcoin <span>BTC</span></h5>
                                            </div>
                                            <div class="price">
                                                <div class="price-sup-title">Investment Amount:</div>
                                                <div class="price-value">$5,000 - $100,000</div>
                                            </div>
                                            <div class="price">
                                                <div class="price-sup-title">Expected Profit:</div>
                                                <div class="price-value">8% - 12%</div>
                                            </div>
                                            <div class="price">
                                                <div class="price-sup-title">Duration:</div>
                                                <div class="price-value">6 months - 1 year</div>
                                            </div>
                                            <a href="#"
                                                class="btn btn--large btn--dark-lighter btn--transparent full-width">Invest
                                                in Bitcoin Now!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="medium-padding100">
            <div class="container">
                <div id="ethereum" class="row align-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-module-slider pagination-bottom-center">
                            <div class="swiper-container" data-show-items="3" data-prev-next="1">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="crumina-module crumina-pricing-table pricing-table--small">
                                            <div class="pricing-thumb">
                                                <img src="{% static 'img/if_etherium_eth_ethcoin_crypto_2844386.png' %}"
                                                    class="woox-icon" alt="ethereum">
                                                <h5 class="pricing-title">Ethereum <span>ETH</span></h5>
                                            </div>
                                            <div class="price">
                                                <div class="price-sup-title">Investment Amount:</div>
                                                <div class="price-value">$3,000 - $75,000</div>
                                            </div>
                                            <div class="price">
                                                <div class="price-sup-title">Expected Profit:</div>
                                                <div class="price-value">10% - 15%</div>
                                            </div>
                                            <div class="price">
                                                <div class="price-sup-title">Duration:</div>
                                                <div class="price-value">6 months - 1 year</div>
                                            </div>
                                            <a href="#"
                                                class="btn btn--large btn--dark-lighter btn--transparent full-width">Invest
                                                in Ethereum Now!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="medium-padding100">
            <div class="container">
                <div id="usdt" class="row align-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-module-slider pagination-bottom-center">
                            <div class="swiper-container" data-show-items="3" data-prev-next="1">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="crumina-module crumina-pricing-table pricing-table--small">
                                            <div class="pricing-thumb">
                                                <img src="{% static 'img/dollar.png' %}" class="woox-icon" alt="usdt">
                                                <h5 class="pricing-title">Tether <span>USDT</span></h5>
                                            </div>
                                            <div class="price">
                                                <div class="price-sup-title">Investment Amount:</div>
                                                <div class="price-value">$1,000 - $50,000</div>
                                            </div>
                                            <div class="price">
                                                <div class="price-sup-title">Expected Profit:</div>
                                                <div class="price-value">5% - 7%</div>
                                            </div>
                                            <div class="price">
                                                <div class="price-sup-title">Duration:</div>
                                                <div class="price-value">3 months - 1 year</div>
                                            </div>
                                            <a href="#"
                                                class="btn btn--large btn--dark-lighter btn--transparent full-width">Invest
                                                in USDT Now!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="medium-padding100">
            <div class="container">
                <div id="litecoin" class="row align-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="crumina-module crumina-module-slider pagination-bottom-center">
                            <div class="swiper-container" data-show-items="3" data-prev-next="1">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="crumina-module crumina-pricing-table pricing-table--small">
                                            <div class="pricing-thumb">
                                                <img src="{% static 'img/if_litecion_ltc_lite_coin_crypto_2844390.png' %}"
                                                    class="woox-icon" alt="litecoin">
                                                <h5 class="pricing-title">Litecoin <span>LTC</span></h5>
                                            </div>
                                            <div class="price">
                                                <div class="price-sup-title">Investment Amount:</div>
                                                <div class="price-value">$2,000 - $60,000</div>
                                            </div>
                                            <div class="price">
                                                <div class="price-sup-title">Expected Profit:</div>
                                                <div class="price-value">7% - 10%</div>
                                            </div>
                                            <div class="price">
                                                <div class="price-sup-title">Duration:</div>
                                                <div class="price-value">6 months - 1 year</div>
                                            </div>
                                            <a href="#"
                                                class="btn btn--large btn--dark-lighter btn--transparent full-width">Invest
                                                in Litecoin Now!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <section>

            <div class="container">
                <div class="row medium-padding200">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="table-responsive">
                            <table id="crypto-table" class="table table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Market Cap</th>
                                        <th>Price</th>
                                        <th>Change</th>
                                        <th>Circulating Supply</th>
                                    </tr>
                                </thead>
                                <tbody class="text-light" id="crypto-table-body">
                                    <!-- Crypto data will be inserted here -->
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6" class="text-center text-light">Real-time data and prices</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- Footer -->

    <script>
        async function fetchCryptoData() {
            try {
                const response = await fetch('https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&ids=bitcoin,ethereum,binancecoin,cardano,ripple,solana,polkadot,dogecoin,litecoin,chainlink', {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json'
                    }
                });
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                const data = await response.json();
                console.log('Fetched data:', data); // Debug log
                displayCryptoData(data);
            } catch (error) {
                console.error('Error fetching crypto data:', error);
            }
        }

        function displayCryptoData(data) {
            const tbody = document.getElementById('crypto-table-body');
            tbody.innerHTML = ''; // Clear existing data

            data.forEach((coin, index) => {
                const row = document.createElement('tr');

                row.innerHTML = `
                    <td>${index + 1}</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="${coin.image}" class="me-2" alt="${coin.name}" style="width: 24px; height: 24px;">
                            <span>${coin.name} (${coin.symbol.toUpperCase()})</span>
                        </div>
                    </td>
                    <td>$${coin.market_cap.toLocaleString()}</td>
                    <td>$${coin.current_price.toLocaleString()}</td>
                    <td class="${coin.price_change_percentage_24h >= 0 ? 'text-success' : 'text-danger'}">
                        ${coin.price_change_percentage_24h.toFixed(2)}%
                    </td>
                    <td>${coin.circulating_supply.toLocaleString()} ${coin.symbol.toUpperCase()}</td>
                `;

                tbody.appendChild(row);
            });
        }

        document.addEventListener('DOMContentLoaded', fetchCryptoData);
    </script>
    {% endblock contents %}