{% load static %}
{% static "images" as img %}
{% static "assests" as assests %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cnx</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/typicons/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
    <!-- endinject -->
    <script src="https://kit.fontawesome.com/58f7fb8902.js" crossorigin="anonymous"></script>
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon2.ico' %} ">


    <style>
      .custom-card-height {
          height: 450px; /* Adjust the height value as needed */
      }
      .custom-card{
        height: 325px;
      }
  </style>
  </head>
  <body class="with-welcome-text">
    <div class="container-scroller">

        {% include 'sections/loader.html' %}
        
{% include 'sections/dash_header.html' %}

<div class="container-fluid page-body-wrapper">

    {% include 'sections/dash_nav.html' %}

        {% block contents %}{% endblock contents %}
        {% include 'sections/dash_footer.html' %}
        